<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block title_before %}<title>NmBookPhoto</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    {% block css_before %}
    {% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <!-- Прелоадер -->
    <div class="preloader">
      <div class="preloader__image">
      </div>
    </div>
    <!-- -------- -->

    <div class="main_panel">
        <ul class="main_menu">
            <li><a {% if current_page=='home' %} class="active" {% endif %} href="{{url_for('home')}}">Главная</a></li>
<!--            <li><a {% if current_page=='group_viewer' %} class="active" {% endif %} href="{{url_for('group_viewer')}}">Просмотр Групп (old)</a></li>-->
            <li><a {% if current_page=='smart_group_viewer' %} class="active" {% endif %} href="{{url_for('smart_group_viewer')}}">Просмотр Групп</a></li>
            <li><a {% if current_page=='bookmark_group_viewer' %} class="active" {% endif %} href="{{url_for('bookmark_group_viewer')}}">Закладки</a></li>
        </ul>
        <label>База данных :
            <select class="db_select" name="db" id="db">
                {% for f in dbs %}
                    <option value="{{f}}" {% if session['db'] == f %} selected {% endif %}>
                        {{f}}
                    </option>
                {% endfor %}
            </select>
        </label>
    </div>

    {% block main_block %}
    {% endblock %}

    <script src="{{url_for('static', filename='js/base_script.js')}}"></script>
    {% block js_after %}
    {% endblock %}
</body>
</html>