body{
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
}
.header, .content{
    background: #574B40;
}
.header {
    height: 70px;
    border-bottom: 1px solid #8A796A;
}  
.file_loader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 897px;
    height: 50px;
    background: #D9D9D9;
    border: 3px solid #BDB598;
    border-radius: 25px;
    margin: auto;
    padding-left: 10px;
    font-size: 20px;
}
.load.btn{
    height: 44px;
    background: #BDB598;
    border-radius: 25px;
    border: none;
    padding: 0 10px;
    font-size: 25px;
}
.btn:hover{
    background: #918b75;
}
.close.btn{
    display: flex;
    align-items: center;
    padding: 0;
}
#file_input {
    width: 100%;
    border: none;
    background: none;
}
#file_input:focus {
    outline:none;
}
.content{
    flex-grow: 2;
    display: flex;
}
.control_panel{
    min-width: 400px;
    max-width: 400px;
    border-right: 1px solid #8A796A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    max-height: 100vh;
    overflow: auto;
}
.view_panel{
    width: 100%;
    padding: 10px;
}
.caption{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #FFFFFF;
    padding: 0 10px;
    align-items: center;
}
.origin_figure{
    background-color: #574b40;
    padding-bottom: 5px;
    border-bottom: 1px solid #8A796A;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f-panzoom{
    background: none;
}
.origin_figure img,.similar_figure img{
    max-width: 360px;
    max-height: 360px;
    border-radius: 25px;
}
.similar_figure{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.similar_figure img{
    max-width: 100%;
    max-height: 450px;
    object-fit: contain;
}
.document_id{
    border: 2px solid #bdb598;
    border-radius: 10%;
    padding: 0 3px;
    height: fit-content;
}
.group_title{
    margin: 10px 0 10px 0;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group_title h3{
    display: inline-block;
}
.group_title span{
    font-size: 18px;
}
.group_list{
    background-color: #D9D9D9;
    border: 3px solid #BDB598;
    border-radius: 25px;
    min-width: 360px;
}
.group_list ul{
    padding: 0;
    margin: 0;
    height: 360px;
    overflow: auto;
}
.group_li{
    border-bottom: 1px solid #BDB598;
    height:  30px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.group_li.active{
    background-color: #AFAFAF;
}
.group_li:last-of-type{
    border-bottom: none;
}
.viewer{ 
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    grid-gap:20px;
    max-height:  calc(100vh - 100px);
    overflow: auto;
}
.detailed_viewer{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;
    max-height: 100vh;
    width: 100vw;
    background-color: #574b40fa;
}
.detailed_viewer.hidden{
    display: none;
}
.detailed_viewer .menu{
    display: flex;
    justify-content: flex-end;
    height: 50px;
}
.detailed_viewer .main_panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    max-height: calc(100% - 100px);
    position: relative;
}
#origin-detailed_viewer, #similar-detailed_viewer{
    width: 50%;
    max-height: 100%;
    display: flex;
    justify-content: center;
}
#origin-detailed_viewer img, #similar-detailed_viewer img{
    border: 3px solid #BDB598;
    max-height: 90vh;
    max-width: 90%;
}
#next_similar, #previous_similar{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100px;
    height: 100%;
    opacity: 0;
    z-index: 5;
}
#next_similar{
    right: 0;
    justify-content: end;
}
#previous_similar{
    left: 0;
    justify-content: start;
}
#next_similar:hover, #previous_similar:hover{
   opacity: 1;
}
